[submodule "references/pipelines/pl-e13390d8fa6d"]
	path = references/pipelines/pl-e13390d8fa6d
	url = https://github.com/2biz-byte/sloane-service-renewal-pipeline.git
	branch = main
[submodule "references/commands/6a90198a9334d064acf7c5de"]
	path = references/commands/6a90198a9334d064acf7c5de
	url = https://github.com/2biz-byte/sloane-renew-renewal-workflow.git
	branch = main
