[submodule "references/lists/list-sloane-service-renewals"]
	path = references/lists/list-sloane-service-renewals
	url = https://github.com/2biz-byte/sloane-service-renewals-list.git
	branch = main
[submodule "references/pipelines/pipeline-sloane-service-renewal-workflow"]
	path = references/pipelines/pipeline-sloane-service-renewal-workflow
	url = https://github.com/2biz-byte/sloane-service-renewal-pipeline.git
	branch = main
[submodule "references/workflows/workflow-sloane-renew-a-household-service-personal"]
	path = references/workflows/workflow-sloane-renew-a-household-service-personal
	url = https://github.com/2biz-byte/sloane-renew-renewal-workflow.git
	branch = main
